<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <title>질문 등록하기</title>
</head>
<body>
{% extends 'base.html' %}
{% block content %}
<!-- 질문 등록 -->
<div class="container">
    <h5 class="my-3 border-bottom pb-2">질문 등록</h5>
    <form method="post" class="my-3">

        {{ form.csrf_token }}

           <!-- 오류표시 Start -->
        {% if form.errors %}
        <div class="alert alert-danger" role="alert">
            {% for field, errors in form.errors.items() %}
            <strong>{{ form[field].label }}</strong>
            <ul>
                {% for error in errors %}
                <li>{{ error }}</li>
                {% endfor %}
            </ul>
            {% endfor %}
        </div>
        {% endif %}
        <!-- 오류표시 End -->

<!--        {{ form.subject.label }}  &lt;!&ndash; 제목 라벨 &ndash;&gt;-->
<!--        {{ form.subject(class="form-control") }}      &lt;!&ndash; 제목 입력 폼 &ndash;&gt;-->

<!--        {{ form.content.label }}-->
<!--        {{ form.content(class="form-control") }}-->

        <!-- 자동으로 생성되는 HTML 대신, 제목과 내용에 해당하는 HTML 코드 직접 작성 -->
        <div class="mb-3">
            <label for="subject">제목</label>
            <input type="text" class="form-control" name="subject" id="subject"
            value="{{ form.subject.data or '' }}">
        </div>
        <div class="mb-3">
            <label for="content">내용</label>
            <textarea class="form-control" name="content" id="content" rows="10">{{ form.content.data or '' }}</textarea>
        </div>

        <button type="submit" class="btn btn-primary">저장하기</button>
    </form>
</div>
{% endblock %}
</body>
</html>